<div class="container-fluid">
  <h3>Form Builder</h3>
<div class="row">
<div class="col-md-2">
    <mat-card><mat-card-title>Elements</mat-card-title>
      <mat-card-content>
        <ul>
          <li>
            <a class="btn bg-warning text-dark" matTooltip="Textbox" (click)="elementClick('input')"><i class="material-icons">text_fields</i></a>
          </li>
          <!-- <li>
              <a class="btn bg-primary text-dark" matTooltip="Textarea" (click)="elementClick('textarea')"><i class="material-icons">keyboard</i></a>
            </li> -->
        </ul>
      </mat-card-content>
      </mat-card>
</div>
<div class="col-md-4">
    <mat-card><mat-card-title>Form Builder</mat-card-title>
      <mat-card-content>
          <form class="example-form" autocomplete="off" [formGroup]="builderForm" id="builderForm">
                <div *ngIf="inputbtn">
                  <!-- <button  type="reset" matTooltip="Delete Field" class="btn bg-danger text-light" (click)="formsreset()"><i style="cursor:pointer;" class="fa fa-trash"></i></button> -->
                <div class="">
                        <mat-form-field class="example-full-width">
                            <input type="text" matInput placeholder="Label of Input"  (input)="onlabel($event.target.value,'label')" >
                          </mat-form-field>
                  </div>
                  <div  *ngIf="previewInpField">
                      <label class="control-label">Type of Input</label>
                            <div class="row">
                                <mat-radio-group [(ngModel)]="inputType" [ngModelOptions]="{standalone: true}" (change)="radiovalues('typeInput')">
                                      <mat-radio-button class="typeInput" value="text">Text</mat-radio-button>
                                      <mat-radio-button class="typeInput" value="number">Numeric</mat-radio-button>
                                      <mat-radio-button class="typeInput" value="Currency">Currency</mat-radio-button>
                                 </mat-radio-group>

                            </div>
                            <div>
                                <mat-checkbox style="padding-left:36px;" class="checkbox " [(ngModel)]="multiLineField" [disabled]="enabledmulticheck" [ngModelOptions]="{standalone: true}" (change)="checkboxesChange('multilinefield')">Enable Multi Line Field</mat-checkbox>
                            </div>
                  </div>

                  <div  *ngIf="divFields">
                      <div class="" >
                                <div class="row">
                                  <div class="col-md-5">
                                      <label class="control-label">Max No Of Characters</label>
                                      <input type="number"  class="form-control SmallInput" (input)="onlabel($event.target.value,'chars')" />

                                  </div>
                                  <div class="col-md-4">

                                  </div>
                                </div>
                          <div *ngIf="maxCharValErrors">
                            <span class="text-danger"><strong>Your Input should be between 1 to 10 only.</strong></span>
                          </div>
                      </div>
                      <div class="" >
                          <label class="control-label">Enable Gender Data Caputre ?</label>
                          <div class="col-md-6">
                              <mat-radio-group [(ngModel)]="genderCapture" [ngModelOptions]="{standalone: true}" (change)="radiovalues('genderCapt')">
                                <div class="row">
                                  <div class="col-md-6">
                                      <mat-radio-button class="typeInput2" value="Yes">Yes</mat-radio-button>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-radio-button class="typeInput" value="No">No</mat-radio-button>
                                  </div>
                                </div>
                                </mat-radio-group>
                          </div>
                      </div>
                        <div class="" *ngIf="showGenderChecks">
                            <label class="control-label">Gender</label>
                            <div>
                                  <mat-checkbox class="typeInput3" [(ngModel)]="genderMale" [ngModelOptions]="{standalone: true}" (change)="checkboxesChange('Male')">Male</mat-checkbox>
                                  <mat-checkbox  class="typeInput" [(ngModel)]="genderFemale" [ngModelOptions]="{standalone: true}" (change)="checkboxesChange('female')">Female</mat-checkbox>
                                  <mat-checkbox  class="typeInput" [(ngModel)]="genderOthers" [ngModelOptions]="{standalone: true}" (change)="checkboxesChange('others')">Others</mat-checkbox>
                            </div>
                        </div>
                        <div class="" >
                              <label class="control-label">Add Child Data</label>
                              <div class="col-md-6">
                                  <mat-radio-group [(ngModel)]="childData" [ngModelOptions]="{standalone: true}" (change)="radiovalues('child')">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <mat-radio-button class="typeInput2" value="Yes">Yes</mat-radio-button>
                                          </div>
                                          <div class="col-md-6">
                                              <mat-radio-button class="typeInput" value="No">No</mat-radio-button>
                                          </div>
                                        </div>
                                    </mat-radio-group>
                              </div>
                        </div>
                        <div class="" >
                          <label class="control-label">Include Total</label>
                          <div class="col-md-6">
                              <mat-radio-group [(ngModel)]="totalField" [ngModelOptions]="{standalone: true}" (change)="radiovalues('total')">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <mat-radio-button class="typeInput2" value="Yes">Yes</mat-radio-button>
                                      </div>
                                      <div class="col-md-6">
                                          <mat-radio-button class="typeInput" value="No">No</mat-radio-button>
                                      </div>
                                    </div>
                                </mat-radio-group>
                          </div>
                        </div>
                    </div>

               </div>
            </form>
      </mat-card-content>
      </mat-card>
  </div>
  <div class="col-md-6">
      <mat-card><mat-card-title>Preview

          <a  *ngIf="divFields" style="float:right;font-size: 15px;" id="pointerAdd" class="text-primary" (click)="addNewRow()" ><i class="fa fa-plus"></i><span>ADD ROW</span></a>
      </mat-card-title>
        <mat-card-content>
            <form class="example-form" autocomplete="off" [formGroup]="invoiceForm">
                <div class="row" *ngIf="divFields">

                  <div class="col-md-12">
                      <div class="" *ngIf="previewInpField">
                        <div  formArrayName="itemRows">
                        <div class="row" *ngFor="let checks of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
                            <!-- <span>{{fieldLabel}}  {{ i + 1 }}</span> -->
                            <div class="card">
                                <div class="card-body">
                                      <span style="text-transform: capitalize;">{{fieldLabel}}</span>
                                          <a  *ngIf="invoiceForm.controls.itemRows.controls.length > 1"  style="float:right;font-size: 15px;" (click)="deleteRow(i)" class="text-danger"><i class="fa fa-trash"></i><span> Delete</span></a>
                                    <div class="row">
                                    <div class="col-sm-2" *ngIf="maleInput">
                                        <label class="labelCenter control-label">AM</label>
                                        <input type="{{previewInputType}}"  formControlName="maleinputval" class="form-control SmallInput " />
                                      </div>
                                     <div class="col-sm-2" *ngIf="femaleInput">
                                        <label class="labelCenter control-label">AF</label>
                                        <input type="{{previewInputType}}" formControlName="femaleinputval"  class="form-control SmallInput" />
                                       </div>
                                       <div class="col-md-2" *ngIf="othersInput">
                                          <label class="labelCenter control-label">Oth</label>
                                          <input type="{{previewInputType}}" formControlName="othersinputval" class="form-control SmallInput" />
                                         </div>
                                         <div class="col-md-2" *ngIf="cmcfinpt">
                                            <label class="labelCenter control-label">CM</label>
                                            <input type="{{previewInputType}}" formControlName="cminputval" class="form-control SmallInput" />
                                          </div>
                                          <div class="col-md-2" *ngIf="cmcfinpt">
                                              <label class=" labelCenter control-label">CF</label>
                                              <input type="{{previewInputType}}" formControlName="cfinputval" class="form-control SmallInput" />
                                          </div>
                                          <div class="col-md-2" *ngIf="totalinput">
                                                <label class="labelCenter control-label">Total</label>
                                                <input type="{{previewInputType}}" formControlName="totalinputval" class="form-control SmallInput" />
                                          </div>

                                          <!--  -->
                                      </div>
                                </div>
                              </div>

                        </div>
                       </div>
                      </div>
                      <div class="" *ngIf="previewTextField">
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder={{fieldLabel}}></textarea>
                            </mat-form-field>
                      </div>
                  </div>

            </div>
            <div class="" *ngIf="dropdowndiv">
              <div class="col-md-6">
                  <span style="text-transform: capitalize;">{{fieldLabel}}</span>
                  <select class="form-control">
                      <option value="">Choose Currency</option>
                      <option *ngFor="let data of currencyData" value="{{data.name}}">{{data.symbol}} - {{data.name}}</option>
                    </select>
              </div>
            </div>
            <div class="" *ngIf="textareafield">
                <div class="col-md-6">
                    <span style="text-transform: capitalize;">{{fieldLabel}}</span>
                    <textarea class="form-control" rows="5" ></textarea>
                </div>
              </div>
            </form>

        </mat-card-content>

        </mat-card>
    </div>
</div>
</div>
