mat-card{
  border-top: 10px solid #2DB0ED;
}
.mat-form-field {
     display: inline;
    position: relative;
    text-align: left;
}

a{
  cursor: pointer;
}

.labelCenter{
padding-left: 30px
}
.typeInput{
  padding-left:50px;
}
.typeInput2{
  padding-left: 26px;
}
.typeInput3{
  padding-left: 36px;
}
.mat-card-title {
  font-size: 20px;
  font-weight: 400;
}
.inphight{
  height:30px;
}

.SmallInput { width: 80px;
  height: 20px;
  font-size: 14px !important;
}

.card{
  border-left: 5px solid #6FF1A6;
  margin: 15px 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

